# Python
__pycache__/
*.py[cod]
*$py.class

# Distribution/packaging
dist/
build/
*.spec
version.txt

# Local configuration
config.json
processed.json

# VS Code
.vscode/
*.code-workspace

# Virtual Environment
venv/
env/
ENV/