{
  "base_rom_path": "",
  "output_dir": "",
  "api_delay": 0.8,
  "multi_type_enabled": true,
  "multi_type_download_mode": "primary_only",
  "difficulty_lookup": {
    "diff_1": "Newcomer",
    "diff_2": "Casual",
    "diff_3": "Intermediate",
    "diff_4": "Advanced",
    "diff_5": "Expert",
    "diff_6": "Master",
    "diff_7": "Grandmaster"
  },
  "auto_check_updates": true,
  "qusb2snes_enabled": false,
  "qusb2snes_host": "localhost",
  "qusb2snes_port": 23074,
  "qusb2snes_device": "",
  "qusb2snes_remote_folder": "/ROMS",
  "qusb2snes_last_sync": 0,
  "qusb2snes_sync_progress": {},
  "qusb2snes_partial_sync": false,
  "qusb2snes_cleanup_deleted": false,
  "emulator_path": "",
  "emulator_args": "",
  "emulator_args_enabled": false
}
